@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
}

                   /* switcher  */
.switch:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switcher input[type="checkbox"] {
  display: none;
}
.switcher input[type="checkbox"]:checked + .switch {
  background-color: rgba(0, 0, 0, 0.7);
}

.switcher input[type="checkbox"]:checked + .switch:before {
  transform: translateX(18px);
}



